
   .footer_outer_container {
    padding: 20px;
    background-color: #141414;
    color: #fff;
  }
  
  .footer_inner_container {
    display: flex;
    justify-content: center;
    gap: 50px; /* General spacing between sections */
    text-align: left;
    flex-wrap: wrap;
  }
  
  .footer_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px; /* Add space between each section */
    cursor: pointer;
  }
  
  .footer_icons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .footer_list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer_list li {
    margin: 5px 0;
  }
  
  .service_code {
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid #fff;
    padding: 0px 12px; 
    color: grey;
    margin-bottom: 5px 0;  
    cursor: pointer;
  }
  
  .copy_write {
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Additional styling for more space on the left section */
  .footer_section:first-child {
    margin-right: 40px; /* Extra space for the first (left-most) section */
  }
  